body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    width: 100vw;
  }
  div.content { width: 1020px }
  header {
    display: grid;
    width: 100%;
    margin: 0px;
  }
  nav{
    text-indent: 230px;
    padding-bottom: 5px;
  }
  
  .logo {
    width: 20px;
    height: 20px;
    padding-top: 3px;

  }

h1{
    color:orange;
    font-size: 55px;
    border-bottom: 2px solid #9156cc;
    margin: 0px;
    text-align:left;

}
h2{
    font-size: 40px;
    line-height: 40px;
    border-bottom: 2px solid #56cc79;
    margin: 0px;

}
h4{
    margin: 0px;
}
  aside {
      padding: 7px;
      background: turquoise;
      border: 2px solid black;
      width: 200px;
      float: left;
      margin: 10px;
      
      
    
  }
  aside h2{
    border-bottom: 2px solid gold;
  }

  .contacts {
    line-height: 50px:
    padding-top: 5px;
    padding-right: 5px;
  }

  article {
    margin: auto;
    width: 75%;
    padding: 10px;
  }
  
  .References {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    border-right: medium solid black;
    width: 150px;
  
  }