*{
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: visible;
}
header{
    background-color: rgb(43, 205, 192);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    height: 190%;
    width: 110%;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 180%;
    text-align: center;
    justify-content: center;

}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: black;
    margin: 0;
    height: 100%;
    color: white;
    padding: 5%;
   padding-top: 1%;
}
.paragraph{
   margin: 10%;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 200%;
    text-align: center;
    font-weight: 300;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-align: center;
}
iframe{
    margin: 5% 30%;
    width: 560px;
    height: 315px; 
}

@media (max-width: 680px) { 
    header{
        background-color: rgb(51, 168, 222);
        padding: 1em;
    }
   
    main{
        background-color: white;
        color:black;
        display: flex;
        align-content: center;
        flex-direction: column;
        margin: -1%;
       
    }
    .paragraph{
        margin: 2%;
    }
    iframe{
        margin: 1%;
        width: 100%;
    }


 }
