body {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 30% 25% 35% 10%;
    background-image: linear-gradient(475deg, cornflowerblue, aqua, cyan, cornflowerblue, teal);
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}

.calculator{
    grid-column: 2/3;
    grid-row: 2/5;
    border-radius: 12px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 140%;
    width: 50%;
    overflow: hidden;
}
.calculatorDisplay {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 5%;
    text-align: right;
  }
  
  .calculatorKeys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .calculator__keys > * {
    background-color: lightgray;
    padding: 1%;
    position: relative;
    text-align: center;
  }
  .key--operator {
    background-color: #eee;
  }
  
  .equalKey {
    background-image: linear-gradient(to right, magenta, rebeccapurple);
    grid-column: -2;
    grid-row: 2 / span 4;
  }

main{
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: left;
    text-indent: 1%;
    border-right: medium solid black;
    border-left: medium solid black;
    padding: 3%;
    padding-top: 2%;
    margin: 3%;
    margin-right: 0%;
}

#clock{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    border-bottom: medium solid black;
    font-size: 95%;
    margin-top: 5%;
}

#calendar{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.newToDo{
    font-size: 130%;
}


h1{ 
    font-size: 300%;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 175%;
}
h3{
    font-size: 130%;
    margin:0;
}

li{
    font-size: 130%;
}
footer{
  display: flex;
  justify-content: center;
}
#board {
    display: flex;
    visibility: visible;
  }
  .column {
    width: 100%;
    height: 50%;
    background-color: #f2f2f2;
    border-right: 1px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .disc {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
  
  .red {
    background-color: red;
  }
  
  .black {
    background-color: black;
  }
  
  .row {
    clear: both;
  }
  
  #announce-winner {
    clear: both;
    font-size: 50px;
  }

@media (max-width:650px){
    #clock{
        font-size: 75%;
        margin-top: 25%;
    }
    h2{
        font-size: 135%;
    }
    h3{
        font-size: 110%;
    }
    
    li{
        font-size: 100%;
    }
    .calculator{
        grid-column: 1/2;
        grid-row: 2/5;
        border-radius: 12px;
        box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1em;
        max-width: none;
        overflow: hidden;
    }
    .calculator__display {
        background-color: #222222;
        color: #fff;
        font-size: 1em;
        padding: 0.5em 0.75em;
        text-align: right;
      }
      

}
