body {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 35% 25% 40%;
    background-image: linear-gradient(475deg, cornflowerblue, aqua, cyan, cornflowerblue, teal);
    background-size: 125% 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
}
.calculator{
    grid-column: 1/2;
    grid-row: 2/5;
    border-radius: 12px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 140%;
    width: 50%;
    overflow: hidden;
}
.calculatorDisplay {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 5%;
    text-align: right;
  }
  
  .calculatorKeys {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .calculator__keys > * {
    background-color: lightgray;
    padding: 1%;
    position: relative;
    text-align: center;
  }
  .key--operator {
    background-color: #eee;
  }
  
  .equalKey {
    background-image: linear-gradient(to right, magenta, rebeccapurple);
    grid-column: -2;
    grid-row: 2 / span 4;
  }

main{
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: left;
    text-indent: 1%;
    border-right: medium solid black;
    border-left: medium solid black;
    padding: 3%;
    padding-top: 0;
    margin: 3%;
    margin-right: 0%;
}

#clock{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    border-bottom: medium solid black;
    font-size: 95%;
    margin-top: 5%;
}

#calendar{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.newToDo{
    font-size: 130%;
}
h1{ 
    font-size: 300%;
    margin: 2%;
    padding: 0%;
}
h2{
    font-size: 175%;
}
h3{
    font-size: 130%;
}

li{
    font-size: 130%;
}

@media (max-width:450px){
    #clock{
        font-size: 75%;
        margin-top: 25%;
    }
    h2{
        font-size: 135%;
    }
    h3{
        font-size: 110%;
    }
    
    li{
        font-size: 100%;
    }

}