*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.container{
    border-radius: 12px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 200%;
    width: 50%;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    flex: 0 1 60%;
    min-width:400px;
}

.buttons,.result{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}
.result{
    height: 50px;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    background-color: black;
    color: white;
    padding:0 10px;
}
.button{
    display:flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    border-top:none;
    border-left:none;
    cursor: pointer;
    background-color: lightgray;
    font-size:2em;
}
.operator{
    width: 210%;
}

.equal{
    flex-grow: 2;
    background-image: linear-gradient(to right, magenta, rebeccapurple);
}
.doubleBordered{
    border: 2px solid black;
}

