*{
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    background-color: rgb(43, 205, 192);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 2em;
    height: 190%;
    width: 110%;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 190%;
    padding-left: 0em;
    text-align: center;
    justify-content: center;
    animation-name: bounce;

}
#icons{
    display: flex;
    align-content: center;
    flex-direction: row;
    padding-left: 35%;
}
.fa-facebook-square, .fa-instagram{
    font-size: 1.5em;
    color: whitesmoke;
    margin: 1%;
    padding: 1%;
    margin-top: -1%;
}
a{
    color:whitesmoke;
    text-decoration: none;
    padding: 1%;
}
h2{
    margin-top: 0;
    font-size: 1em;

}
main{
    display: flex;
    align-content: center;
    background-color: black;
    margin: -1%;
   
}
.titles{
    width: 20%;
    margin: 5% 10%;
    color: whitesmoke;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 200%;
    text-align: center;
    font-weight: 300;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    text-align: center;
}

.a {
    border-top: 30px solid rgb(51, 168, 222)
}
.b {
    border-top: 30px solid rgb(244, 103, 49)
}
.c {
    border-top: 30px solid rgb(43, 205, 192)
}

@media (max-width: 680px) { 
    header{
        background-color: rgb(51, 168, 222);
        padding: 1em;
    }
   
    main{
        background-color: white;
        display: flex;
        align-content: center;
        flex-direction: column;
        margin: -1%;
       
    }
    h2{
        margin: 1%;
    }
    #icons{
        padding-left: 0;
    }
    .fa-facebook-square, .fa-instagram{
        margin: 1%;
        padding: 1%;
        margin-top: -1%;
    }
    .titles{
        width: 50%;
        margin: 5% 25%;
        color: black;
    }


 }