*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: rgb(120, 120, 120);
    margin: 1%;
    padding: .25%;
    outline: 1.25px dashed #98abb9;
    outline-offset: -5px;
    outline-color: aliceblue;
}

h1{
    font-size: 300%;
    text-shadow: 1px 1px 2px ivory;
                 
}
h3{
    font-size: 125%;
    margin-top: -.5%;
  
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(175,175,175);
    outline: solid 2px black;
    padding: 1%;
    margin: 1.5%;
}

iframe{
    width: 400px;
    height: 200px;
}
video{
    margin: 3%;
}

.example{
    margin: 3%;
    text-align: center;
}

aside{
    padding: .1% 2% 2%;
    margin: 1%;
    background-color: rgb(130, 130, 130);
    outline: 1.25px dashed #98abb9;
    outline-offset: -5px;
    outline-color: aliceblue;
}

