body{
    display: grid;
    background-color: black;
}

body > div{
    display: flex;
    grid-template: 
    "b b b"
    "b b b"
    "b b b";
}

b{
    height: 200px;
    width: 200px;
    border-spacing: 3px;
    border-color: white;
}

